
body{
    background-color: rgb(250, 10, 10);
}
header{
    background-color:rgb(223, 136, 136) 
}
h1{
    color: rgb(0, 0, 0);
}
h2{
    color: rgb(12, 1, 1);

}
.pagina1{
    text-align: center;
    overflow: auto;
}

#foto3{
    display: block;
    float: right;    
    margin-left: 100px; 
    width: 60%; 
}
.header {
    height: 150px; 
    position: relative; 
}

.header img {
    width: auto; 
    height: 80%; 
    position: absolute; 
    top: 0; 
    left: 0; 
    object-fit: cover; 
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
    display: inline-block;
    margin-right: 60px;
    margin-left: 60px;
}

p{
    margin-right: 20px;
    color: rgb(26, 2, 2);
    background-color: rgb(218, 144, 160);
}
.titulo1{
    background:rgb(228, 115, 138); 

}
.titulo2{
    background: rgb(228, 115, 138);

}

.titulo2 {
    border: 10px solid rgb(22, 1, 1); 
    display: inline-block; 
    padding: 5px; 
    width: 50%;
  }

.pagina2{
    text-align: center;
    overflow: auto;
    margin-top: 100px;
    background-color: rgb(228, 115, 138);
} 
h3{
    color: rgb(12, 1, 1);
   width: -50%;
}
li{
    list-style-type: none;
    display:inline-block;
    margin-right: 60px
}
#banner1{
    width: 20%;
    display: block;
    float: right;    
    margin-left: -3px;
    border: 10px solid rgb(1, 34, 11);
}
#banner2{
    width: 20%;
    display: block;
    float: right;    
    margin-left: -5px;
    border: 10px solid rgb(12, 22, 1);
}

#banner3{
    width: 20%;
    display: block;
    float: right;    
    margin-left: -0px;
    border: 10px solid rgb(9, 34, 1);
}

p{
    border: 5px solid rgb(22, 1, 1);
    margin-left: 5px;
}
h4{
    margin-top: 0%;
}
.rodape{
    position: fixed;
    bottom: 0;
    width: 100%;
}
h4{
    text-align: center; 
    border: 5px solid rgb(22, 1, 1);
    margin-left: 5px;
    background-color: rgb(228, 115, 138);
}body{
    background-color:  rgb(228, 115, 138);
}
header{
    background-color:  rgb(228, 115, 138);
}
